---
const { pic, text, color, alt, svg } = Astro.props;
---

<div
	title="Picture Card"
	class={`indicator ${color} min-w-fit max-w-fit w-full h-fit p-5 flex flex-col gap-5 border-8 rounded-3xl shadow-[-0.5rem_0.75rem_rgba(0,0,0,1)] transition-all -rotate-12 hover:rotate-0 border-bblack`}
>
	<span class="indicator-item"><img class="w-20" src={svg} /></span>
	<div>
		<img
			alt={alt}
			src={pic}
			class="rounded-xl w-36 md:w-48 lg:w-64 h-36 md:h-48 lg:h-64 border-4 aspect-square border-bblack"
		/>
	</div>
	<div class="py-2 text-center text-xs md:text-sm lg:text-xl">
		<a href="/">{text}</a>
	</div>
</div>
