---
import Window from "../components/Window.astro";
import Button from "../components/Button.astro";
import MyId from "../components/MyId";

import BMO from "../images/bmo.gif";
import Laptop from "../images/laptop.gif";
import HTML from "../images/technologies/html.svg";
import CSS from "../images/technologies/css.svg";
import JS from "../images/technologies/js.svg";
import React from "../images/technologies/react.svg";
import Nextjs from "../images/technologies/nextjs.svg";
import AstroPicture from "../images/technologies/astro.svg";
import Tailwind from "../images/technologies/tailwind.svg";
import Figma from "../images/technologies/figma.svg";
import Photoshop from "../images/technologies/photoshop.svg";
import Illustrator from "../images/technologies/illustrator.svg";
import Premiere from "../images/technologies/premiere.svg";
import AfterEffects from "../images/technologies/aftereffects.svg";
import Ableton from "../images/technologies/ableton.svg";

import Pikachu from "../images/pikachu.gif";
import Hero2 from "../images/my-images/hero2.png";
import Book from "../images/book.gif";
---

<section class="flex w-full flex-col gap-4 md:flex-row">
	<div class="h-150 md:h-175 w-full md:max-w-1/2">
		<MyId client:load />
	</div>

	<div class="w-full flex flex-col justify-center items-center gap-10 p-3">
		<Window title="aboutMe.tsx" color="bg-pink" padding="p-3">
			<div class="flex flex-col gap-4 max-w-sm">
				<div class="text-white">
					I’m Gabriel Gonzales, also known as Iamusicgabriel on streaming
					platforms. A Computer Engineering student at the University of the
					Philippines - Diliman. UI/UX Designer, frontend developer, filmmaker,
					and artist!
				</div>
				<Button title="Full Bionote" link="/" />
			</div>
			<img
				class="absolute right-0 lg:-right-10 -bottom-6 w-20 rotate-6"
				src={BMO.src}
			/>
		</Window>
		<Window title="technologies.tsx" color="bg-pink" padding="p-3">
			<div class="flex flex-col gap-4 max-w-md text-white overflow-x-hidden">
				<div class="grid gap-2.5">
					<span>Frontend Dev</span>
					<div class="grid grid-flow-col gap-4 w-fit">
						<img src={HTML.src} class="h-6" />
						<img src={CSS.src} class="h-6" />
						<img src={JS.src} class="h-6" />
						<img src={React.src} class="h-6" />
						<img src={Nextjs.src} class="h-6" />
						<img src={AstroPicture.src} class="h-6" />
						<img src={Tailwind.src} class="h-6" />
					</div>
				</div>
				<div class="grid gap-2.5">
					<span>Graphics, UI/UX</span>
					<div class="grid grid-flow-col gap-4 w-fit">
						<img src={Figma.src} class="h-6" />
						<img src={Photoshop.src} class="h-6" />
						<img src={Illustrator.src} class="h-6" />
					</div>
				</div>

				<div class="grid gap-2.5">
					<span>Video, Motion</span>
					<div class="grid grid-flow-col gap-4 w-fit">
						<img src={Premiere.src} class="h-6" />
						<img src={AfterEffects.src} class="h-6" />
					</div>
				</div>

				<div class="grid gap-2.5">
					<span>Video, Motion</span>
					<div class="grid grid-flow-col gap-4 w-fit">
						<img src={Ableton.src} class="h-6" />
					</div>
				</div>
			</div>
			<img
				class="absolute left-20 md:-left-10 -bottom-8 w-20 -rotate-6"
				src={Laptop.src}
			/>
		</Window>
		<Window title="pokemonStats.dmg" color="bg-pink" padding="p-3">
			<div class="w-fit">
				<div class="grid grid-flow-col gap-4 items-center" id="topPart">
					<!-- Image -->
					<div
						class="bg-[url(../images/pokemon.png)] aspect-square w-24 bg-cover bg-center border-4 relative"
					>
						<img src={Hero2.src} class="" />
						<img
							src={Book.src}
							class="absolute w-12 -bottom-3 -right-3 -rotate-12"
						/>
					</div>
					<!-- Top Stats -->
					<div class="grid">
						<!-- Name and Level -->
						<div class="grid grid-flow-col items-center gap-3">
							<span class="text-3xl">@iamusicgabriel</span>
							<span class="bg-yellow text-base-100 border-3 w-fit h-fit px-1">
								Lv. 19
							</span>
						</div>
						<!-- Progress Bar -->
						<div class="bg-base-100 p-1 h-4">
							<div
								class="bg-yellow w-[100%] h-full flex justify-center items-center text-base-100"
							>
							</div>
						</div>

						<div></div>
					</div>
					<div></div>
					<div></div>
					<img src={Pikachu.src} class="absolute h-20 right-0 -top-15 -z-10" />
				</div>
			</div>
		</Window>
	</div>
</section>
