---
const { frontmatter } = Astro.props;
import SmallPlaceholder from "../components/SmallPlaceholder.astro";
import Placeholder from "../components/Placeholder.astro";
import "@fontsource-variable/lexend-mega";
import Nav from "./Nav.astro";
import Loading from "./Loading.astro";
---

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star2.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title} - Iamusicgabriel</title>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content={`${frontmatter.title} - Iamusicgabriel`}
		/>
		<meta property="og:image" content="https://iamusicgabriel.com/meta.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:title"
			content={`${frontmatter.title} - Iamusicgabriel`}
		/>
		<meta
			property="twitter:image"
			content="https://iamusicgabriel.com/meta.jpg"
		/>
		<!-- Meta Tags Generated with https://metatags.io -->

		<script is:inline>
			window.onload = () => {
				setTimeout(() => {
					document.querySelector("#loading").classList.add("hidden");
					document.querySelector("#dom").classList.remove("hidden");
					document.querySelector("#dom").classList.add("flex");
				}, 300);
			};
		</script></head
	>

	<body class="">
		<div id="loading" class="">
			<Loading />
		</div>
		<div id="dom" class="w-screen flex flex-col items-center">
			<Nav />
			<container class={`flex flex-col gap-10 p-8 max-w-screen-xl`}>
				<div class="flex flex-col gap-4 items-center">
					<Placeholder
						color="bg-bblue"
						text={frontmatter.title}
						textColor="text-bwhite"
					/>
					<div class="flex flex-col md:flex-row gap-2 justify-center">
						<SmallPlaceholder
							color="bg-borange"
							text={frontmatter.date}
							textColor="text-bwhite"
						/>
					</div>
				</div>
				<div
					class="grid grid-cols-1 items-center self-center indicator rotate-6"
				>
					<span class="indicator-item"
						><img class="w-14 md:w-20" src="/star3.svg" /></span
					>
					<span class="indicator-item indicator-start indicator-bottom"
						><img class="w-14 md:w-20" src="/star2.svg" /></span
					>
					<img
						class="rounded-xl border-8 border-bblack max-w-48 md:max-w-xs aspect-[3/4] object-cover drop-shadow-[5px_7px_rgba(0,0,0,1)]"
						src={frontmatter.picture}
					/>
				</div>
				<slot />
			</container>
		</div>
	</body>
</html>
