---
import SectionTitle from "../components/SectionTitle.astro";
import PictureWindow from "../components/PictureWindow.astro";
import Education from "../images/gui/education.svg";

interface Frontmatter {
	title: string;
	type: string;
	date: string;
	image: string;
	link: string;
}

const posts = await Astro.glob<Frontmatter>("../pages/works/*.md");
posts.sort((a, b) => {
	let dateA = new Date(a.frontmatter.date);
	let dateB = new Date(b.frontmatter.date);
	return dateB.getTime() - dateA.getTime();
});
---

<section
	class="flex flex-col p-3 gap-8 w-full max-w-[1440px] items-center self-center"
>
	<SectionTitle title="Works" image={Education} />
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center justify-items-center max-w-4xl m-auto gap-3 w-full"
	>
		{
			posts.slice(0, 6).map((post) => {
				return (
					<PictureWindow
						title={post.frontmatter.title}
						title2={post.frontmatter.type}
						image={post.frontmatter.image}
						link={post.frontmatter.link}
					/>
				);
			})
		}
	</div>
</section>
